





<div class="login-page">
  <div class="form">
    <form action="./create" method="post">
      <h1>create</h1>
      <input type="text" name="name" placeholder="name"/>
      <input type="password" name="password" placeholder="password"/>
      <!-- <input type="text" placeholder="email address"/> -->
      <!-- <button>create</button> -->
      <input type="submit" name="" value"create">
      <h1><%= @alert %></h1>
    </form>
    </div>
</div>
