<div class="login-page">
  <div class="form">
<h1><%= session[:user_name]%>さん<br>こんにちは</h1>
<h1>ホームだぞ</h1>
<div class="home_layout">
  <a href="./show_post">記事一覧</a><br>
  <a href="./show_user">user一覧</a><br>
  <a href="./post">投稿する</a>
  <a href="./mypage">マイページ</a>
</div>
</div>
</div>
