<div class="login-page">
  <div class="form">
    <form class="login-form" action="./login" method="post">
      <h1>露愚韻</h1>
      <input type="text" name="l_name" placeholder="username"/>
      <input type="password" name="l_password" placeholder="password"/>
      <button>login</button>
      <!-- <input type="submit" name="" value="LOGIN"> -->
      <h1><%=@msg%></h1>
      <a href="./create"><%=@msg2%></a>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
